@mixin flex-center($axis: "central") {
  display: flex;

  @if $axis == "horizontal" {
    justify-content: center;
  } @else if $axis == "central" {
    justify-content: center;
    align-items: center;
  } @else if $axis == "vertical" {
    align-items: center;
  }
}
